In [2]:
from Simulator import *
from RUN import *

In [11]:
    n_targets = 30
    n_merchants = 1
    n_submarines = 10
    seeds = 0
    while seeds < 30:
        Targets, Merchants, Submarines = Simulator(n_targets,n_merchants,n_submarines,12,1,False,False,seeds)

        Killed_Targets = {}
        for sub in Submarines:
            Killed_Targets[str(sub.indexer)] = len(sub.tracked)

        Killed_Targets = pd.DataFrame(Killed_Targets, index = [0])
        Killed_Targets.to_csv('Killed_Targets.csv', mode = 'a')
        seeds += 1

    Killed_Targets = pd.read_csv('Killed_Targets.csv')
    Killed_Targets = Killed_Targets.iloc[::2]
    Killed_Targets = Killed_Targets.reset_index()

In [12]:
Killed_Targets

     index  Unnamed: 0  1  2  3  4  5  6  7  8  9  10
0        0         0.0  0  0  0  0  0  0  0  0  0   0
1        2         0.0  0  0  0  0  0  0  0  0  0   0
2        4         0.0  0  0  0  0  0  0  0  0  0   0
3        6         0.0  0  0  0  0  0  0  0  0  0   0
4        8         0.0  0  0  0  0  0  0  0  0  0   0
..     ...         ... .. .. .. .. .. .. .. .. ..  ..
115    230         0.0  0  0  0  0  0  0  0  0  0   0
116    232         0.0  0  0  0  0  0  0  0  0  0   0
117    234         0.0  0  0  0  0  0  0  0  0  0   0
118    236         0.0  0  0  0  0  0  0  0  0  0   0
119    238         0.0  0  0  0  0  0  0  0  0  0   0

[120 rows x 12 columns]

In [15]:
Killed_Targets = Killed_Targets.drop(['Unnamed: 0', 'index'], axis = 1)
Killed_Targets

     1  2  3  4  5  6  7  8  9  10
0    0  0  0  0  0  0  0  0  0   0
1    0  0  0  0  0  0  0  0  0   0
2    0  0  0  0  0  0  0  0  0   0
3    0  0  0  0  0  0  0  0  0   0
4    0  0  0  0  0  0  0  0  0   0
..  .. .. .. .. .. .. .. .. ..  ..
115  0  0  0  0  0  0  0  0  0   0
116  0  0  0  0  0  0  0  0  0   0
117  0  0  0  0  0  0  0  0  0   0
118  0  0  0  0  0  0  0  0  0   0
119  0  0  0  0  0  0  0  0  0   0

[120 rows x 10 columns]

In [ ]:

    Killed_Targets.to_csv('Killed_Targets.csv', mode = 'w')

    # Comment out
    status_string = ("Run complete")
    api.update_status(status_string)

In [7]:
rand.random()

0.5439863636331771