In [9]:
from Simulator import *
from RUN import RUN

In [6]:
job_num = 1
n_targets = 30
n_merchants = 1
n_submarines = 10
P_k = 0.9
speed_sub = 16
Lam_T = 1
Lam_M = 199
speed_target = 12
seed = 1
max_time = 1
plots = False
gif = False
max_samples = 1
RUN(job_num, n_targets, n_merchants, n_submarines, seed, max_samples,speed_sub,P_k,Lam_T,Lam_M,speed_target)

Run 1 complete

In [22]:
Killed_Targets = {'1 kills': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '1 tracking': [26605, 1202, 1202, 1202, 1202, 1383, 1202, 1202, 1546, 1668, 1713, 1804, 3100, 1203, 1202, 1202, 1316, 46], '2 kills':[0]}

In [23]:
dd = Killed_Targets
Killed_Targets = pd.DataFrame(dd).fillna(0)

ValueError: arrays must all be same length

In [21]:
Killed_Targets

{'1 kills': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 '1 tracking': [26605,
  1202,
  1202,
  1202,
  1202,
  1383,
  1202,
  1202,
  1546,
  1668,
  1713,
  1804,
  3100,
  1203,
  1202,
  1202,
  1316,
  46],
 '2 kills': [0]}

In [ ]:
dd['2 kills']

In [39]:
Killed_Targets = pd.read_csv('Killed_Targets.csv')
Killed_Targets

,Unnamed: 0,1 kills,1 tracking,2 kills,2 tracking,3 kills,3 tracking,4 kills,4 tracking,5 kills,...,6 kills,6 tracking,7 kills,7 tracking,8 kills,8 tracking,9 kills,9 tracking,10 kills,10 tracking
0,0,2318,19298,1241.0,117310.0,654.0,193107.0,306.0,166209.0,192.0,...,134.0,1648791.0,71.0,443107.0,73.0,606687.0,63.0,2413774.0,33.0,752248.0
1,1,2318,38302,1241.0,41848.0,654.0,229437.0,306.0,473035.0,192.0,...,134.0,170258.0,71.0,360969.0,73.0,2688590.0,63.0,1077395.0,33.0,2290298.0
2,2,2318,5401,1241.0,7158.0,654.0,29455.0,306.0,129584.0,192.0,...,134.0,65993.0,71.0,685328.0,73.0,187640.0,63.0,7353608.0,33.0,7801.0
3,3,2318,4966,1241.0,35559.0,654.0,114275.0,306.0,297970.0,192.0,...,134.0,171130.0,71.0,432878.0,73.0,68499.0,63.0,1272513.0,33.0,1528387.0
4,4,2318,11086,1241.0,19399.0,654.0,129428.0,306.0,191455.0,192.0,...,134.0,177717.0,71.0,870863.0,73.0,1621422.0,63.0,529186.0,33.0,536659.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15068,15068,832,85226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15069,15069,832,45007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15070,15070,832,79661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15071,15071,832,73415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15072,15072,832,108281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:

collist = ['num_t','num_m','num_s','seed', 'max_samp','speed_s','P_k','Lam_T','Lam_M','speed_t']
testy = pd.read_csv('test-jobz.csv', header = None)

testy.drop(0,axis =1, inplace = True)

In [37]:
testy

      1   2   3   4   5   6     7   8   9   10
0      1   1  10  19   1  20  0.09   9   0  23
1      1   1  10   6   1  20  0.09   9   0  23
2      1   1  10  18   1  20  0.09   9   0  23
3      1   1  10   6   1  20  0.09   9   0  23
4      1   1  10  22   1  20  0.09   9   0  23
...   ..  ..  ..  ..  ..  ..   ...  ..  ..  ..
1084   1   1  10   2   1   6  0.38   9   0  13
1085   1   1  10  26   1   6  0.38   9   0  13
1086   1   1  10  14   1   6  0.38   9   0  13
1087   1   1  10  30   1   6  0.38   9   0  13
1088   1   1  10   4   1   6  0.38   9   0  13

[1089 rows x 10 columns]

In [38]:
testy.set_axis(collist,inplace = True, axis = 1)
testy

,num_t,num_m,num_s,seed,max_samp,speed_s,P_k,Lam_T,Lam_M,speed_t
0,1,1,10,19,1,20,0.09,9,0,23
1,1,1,10,6,1,20,0.09,9,0,23
2,1,1,10,18,1,20,0.09,9,0,23
3,1,1,10,6,1,20,0.09,9,0,23
4,1,1,10,22,1,20,0.09,9,0,23
...,...,...,...,...,...,...,...,...,...,...
1084,1,1,10,2,1,6,0.38,9,0,13
1085,1,1,10,26,1,6,0.38,9,0,13
1086,1,1,10,14,1,6,0.38,9,0,13
1087,1,1,10,30,1,6,0.38,9,0,13
1088,1,1,10,4,1,6,0.38,9,0,13

In [41]:
Killed_Targets.fillna(0, inplace = True)
Killed_Targets

,Unnamed: 0,1 kills,1 tracking,2 kills,2 tracking,3 kills,3 tracking,4 kills,4 tracking,5 kills,...,6 kills,6 tracking,7 kills,7 tracking,8 kills,8 tracking,9 kills,9 tracking,10 kills,10 tracking
0,0,2318,19298,1241.0,117310.0,654.0,193107.0,306.0,166209.0,192.0,...,134.0,1648791.0,71.0,443107.0,73.0,606687.0,63.0,2413774.0,33.0,752248.0
1,1,2318,38302,1241.0,41848.0,654.0,229437.0,306.0,473035.0,192.0,...,134.0,170258.0,71.0,360969.0,73.0,2688590.0,63.0,1077395.0,33.0,2290298.0
2,2,2318,5401,1241.0,7158.0,654.0,29455.0,306.0,129584.0,192.0,...,134.0,65993.0,71.0,685328.0,73.0,187640.0,63.0,7353608.0,33.0,7801.0
3,3,2318,4966,1241.0,35559.0,654.0,114275.0,306.0,297970.0,192.0,...,134.0,171130.0,71.0,432878.0,73.0,68499.0,63.0,1272513.0,33.0,1528387.0
4,4,2318,11086,1241.0,19399.0,654.0,129428.0,306.0,191455.0,192.0,...,134.0,177717.0,71.0,870863.0,73.0,1621422.0,63.0,529186.0,33.0,536659.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15068,15068,832,85226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15069,15069,832,45007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15070,15070,832,79661,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15071,15071,832,73415,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15072,15072,832,108281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
Killed_Targets.drop('Unnamed: 0', axis = 1, inplace = True)

In [49]:
Killed_Targets

,1 kills,1 tracking,2 kills,2 tracking,3 kills,3 tracking,4 kills,4 tracking,5 kills,5 tracking,6 kills,6 tracking,7 kills,7 tracking,8 kills,8 tracking,9 kills,9 tracking,10 kills,10 tracking
0,2318,19298,1241.0,117310.0,654.0,193107.0,306.0,166209.0,192.0,205282.0,134.0,1648791.0,71.0,443107.0,73.0,606687.0,63.0,2413774.0,33.0,752248.0
1,2318,38302,1241.0,41848.0,654.0,229437.0,306.0,473035.0,192.0,173183.0,134.0,170258.0,71.0,360969.0,73.0,2688590.0,63.0,1077395.0,33.0,2290298.0
2,2318,5401,1241.0,7158.0,654.0,29455.0,306.0,129584.0,192.0,723128.0,134.0,65993.0,71.0,685328.0,73.0,187640.0,63.0,7353608.0,33.0,7801.0
3,2318,4966,1241.0,35559.0,654.0,114275.0,306.0,297970.0,192.0,4629.0,134.0,171130.0,71.0,432878.0,73.0,68499.0,63.0,1272513.0,33.0,1528387.0
4,2318,11086,1241.0,19399.0,654.0,129428.0,306.0,191455.0,192.0,78895.0,134.0,177717.0,71.0,870863.0,73.0,1621422.0,63.0,529186.0,33.0,536659.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15068,832,85226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15069,832,45007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15070,832,79661,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15071,832,73415,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15072,832,108281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
Killed_Targets.mean()

1 kills          957.525509
1 tracking     56465.440655
2 kills          217.871691
2 tracking     56060.050753
3 kills           51.062363
3 tracking     56627.194387
4 kills           14.171631
4 tracking     57287.612552
5 kills            5.898958
5 tracking     57837.300272
6 kills            2.317455
6 tracking     59777.393684
7 kills            0.886950
7 tracking     61395.267697
8 kills            0.607245
8 tracking     65456.807205
9 kills            0.289325
9 tracking     54794.655410
10 kills           0.221058
10 tracking    58516.596099
dtype: float64