In [34]:
import pandas as pd

In [82]:
filename1 = 'Killed_Targets-'
filename2 = 2
filename3 = '.csv'

i = 1
j = 1
kt_list = []
while i < 11:
    if j <= 1:
        kt_list.append(str(i) + ' kills')
        j += 1
    else:
        j = 1
        kt_list.append(str(i) + ' tracking')
        i += 1

collist = ['num_t','num_m','num_s','seed', 'max_samp','speed_s','P_k','Lam_T','Lam_M','speed_t']
test_jobs = pd.read_csv('test-jobz.csv', header = None)
test_jobs.drop(0,axis =1, inplace = True)
test_jobs.set_axis(collist,inplace = True, axis = 1)

zeros = [0]*len(test_jobs)
for item in kt_list:
    test_jobs[item] = zeros

while filename2 < 1089:
    filename = filename1 + str(filename2) + filename3
    Killed_Targets = pd.read_csv(filename)
    Killed_Targets.drop('Unnamed: 0', axis =1, inplace = True)
    Killed_Targets.fillna(0, inplace = True)
    Killed_Targets.apply(pd.to_numeric)
    filename2 = 199999

In [83]:
Killed_Targets

,1 kills,1 tracking,2 kills,2 tracking,3 kills,3 tracking,4 kills,4 tracking,5 kills,5 tracking,6 kills,6 tracking,7 kills,7 tracking,8 kills,8 tracking,9 kills,9 tracking,10 kills,10 tracking
0,228,26566,145,63880,52,301688,46,359031,12,314863,5,313866,12,1013395,7,446665,7,723968,3,2475166
1,228,74733,145,3901,52,77472,46,13264,12,356098,5,557389,12,525899,7,2085,7,827037,3,194672
2,228,22355,145,61393,52,2701,46,34355,12,623703,5,1028956,12,497574,7,140978,7,88592,0,0
3,228,16775,145,8038,52,51784,46,482776,12,170027,0,0,12,93990,7,257683,7,3001,0,0
4,228,22145,145,5939,52,39993,46,33065,12,398395,0,0,12,3901,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,228,29323,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
117,228,4555,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
118,228,2692,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
119,228,17014,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
120,228,7501,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [85]:
Killed_Targets.mean()

1 kills          228.000000
1 tracking     20155.776860
2 kills           86.280992
2 tracking     21084.074380
3 kills           11.603306
3 tracking     24769.099174
4 kills            8.743802
4 tracking     24729.710744
5 kills            0.694215
5 tracking     16973.694215
6 kills            0.123967
6 tracking     15704.223140
7 kills            0.595041
7 tracking     25216.272727
8 kills            0.231405
8 tracking      7003.396694
9 kills            0.231405
9 tracking     13575.190083
10 kills           0.049587
10 tracking    22064.776860
dtype: float64

In [84]:
test_jobs

,num_t,num_m,num_s,seed,max_samp,speed_s,P_k,Lam_T,Lam_M,speed_t,...,6 kills,6 tracking,7 kills,7 tracking,8 kills,8 tracking,9 kills,9 tracking,10 kills,10 tracking
0,1,1,10,19,1,20,0.09,9,0,23,...,0,0,0,0,0,0,0,0,0,0
1,1,1,10,6,1,20,0.09,9,0,23,...,0,0,0,0,0,0,0,0,0,0
2,1,1,10,18,1,20,0.09,9,0,23,...,0,0,0,0,0,0,0,0,0,0
3,1,1,10,6,1,20,0.09,9,0,23,...,0,0,0,0,0,0,0,0,0,0
4,1,1,10,22,1,20,0.09,9,0,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084,1,1,10,2,1,6,0.38,9,0,13,...,0,0,0,0,0,0,0,0,0,0
1085,1,1,10,26,1,6,0.38,9,0,13,...,0,0,0,0,0,0,0,0,0,0
1086,1,1,10,14,1,6,0.38,9,0,13,...,0,0,0,0,0,0,0,0,0,0
1087,1,1,10,30,1,6,0.38,9,0,13,...,0,0,0,0,0,0,0,0,0,0
1088,1,1,10,4,1,6,0.38,9,0,13,...,0,0,0,0,0,0,0,0,0,0

In [79]:
kt_list

['1 kills',
 '1 tracking',
 '2 kills',
 '2 tracking',
 '3 kills',
 '3 tracking',
 '4 kills',
 '4 tracking',
 '5 kills',
 '5 tracking',
 '6 kills',
 '6 tracking',
 '7 kills',
 '7 tracking',
 '8 kills',
 '8 tracking',
 '9 kills',
 '9 tracking',
 '10 kills',
 '10 tracking']